body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

body {
    
    padding-top: 70px;
    
}

.slide-image {
    
    width = 100%;
    
}

.carousel-holder {
    
    margin-bottom: 30px;
    
}

.carousel-control, 
.item {
    
    border-radius: 4px;
    
}

.caption {
    
    height: 130px;
    overflow: hidden;

}




.thumbnail img {
    
    width: 100%;

}

.ratings {
    
    padding-right: 10px;
    padding-left: 10px;
    color: dodgerblue;

}

.thumbnail {
    
    padding: 0;

}

.navbar-default {
    
    background-color: #f05f40;
    color: white;

}

.navbar-default .navbar-header .navbar-brand {
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

