/*-----------------------------------
	Author: Julie Hwang
	Email: hwangw@indiana.edu
	Created: 2016-03-28
	Description: Stylesheet for Map
-------------------------------------*/

	
#map {
	width: 100%;
	height: 320px;
	border: 1px solid #000;
}

#info1 {
	width: 330px;
}

#info1 h2 {
	margin-top: 0;
}

#info1 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info2 {
	width: 330px;
}

#info2 h2 {
	margin-top: 0;
}

#info2 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info3 {
	width: 330px;
}

#info3 h2 {
	margin-top: 0;
}

#info3 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info4 {
	width: 330px;
}

#info4 h2 {
	margin-top: 0;
}

#info4 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info5 {
	width: 330px;
}

#info5 h2 {
	margin-top: 0;
}

#info5 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info6 {
	width: 330px;
}

#info6 h2 {
	margin-top: 0;
}

#info6 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info7 {
	width: 330px;
}

#info7 h2 {
	margin-top: 0;
}

#info7 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info8 {
	width: 330px;
}

#info8 h2 {
	margin-top: 0;
}

#info8 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info9 {
	width: 400px;
}

#info9 h2 {
	margin-top: 0;
}

#info9 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info10 {
	width: 400px;
}

#info10 h2 {
	margin-top: 0;
}

#info10 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info11 {
	width: 400px;
}

#info11 h2 {
	margin-top: 0;
}

#info11 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info12 {
	width: 400px;
}

#info12 h2 {
	margin-top: 0;
}

#info12 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info13 {
	width: 400px;
}

#info13 h2 {
	margin-top: 0;
}

#info13 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info14 {
	width: 400px;
}

#info14 h2 {
	margin-top: 0;
}

#info14 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info15 {
	width: 400px;
}

#info15 h2 {
	margin-top: 0;
}

#info15 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info16 {
	width: 430px;
}

#info16 h2 {
	margin-top: 0;
}

#info16 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info17 {
	width: 400px;
}

#info17 h2 {
	margin-top: 0;
}

#info17 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info18 {
	width: 400px;
}

#info18 h2 {
	margin-top: 0;
}

#info18 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

#info19 {
	width: 400px;
}

#info19 h2 {
	margin-top: 0;
}

#info19 img {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}