/*-----------------------------------
	Author: Julie Hwang
	Email: hwangw@indiana.edu
	Created: 2016-03-28
	Description: Stylesheet for Map
-------------------------------------*/

	
#map {
	width: 100%;
	height: 320px;
	border: 1px solid #000;
}
